@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    color: #333;
    line-height: 1.6;
}

#header {
    position: -webkit-sticky; /* Para compatibilidade com Safari */
    position: sticky;
    top: 0;
    z-index: 1000; /* Garante que o header fique acima de outros elementos */
    background-color: #114D4D; /* Cor de fundo para o header */
}

header {
    background-color: #114D4D;
    padding: 2px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px; /* Define a largura máxima */
    margin: 0 auto; /* Centraliza o container */
    padding: 0 20px;
}

.logo {
    font-size: 20px;
    font-weight: 900;
    padding: 10px;
    color: #fff;
    display: inline-block;
}

.logo a {
    text-decoration: none; /* Remove o sublinhado */
    color: inherit; /* Mantém a cor definida na classe logo */
}

nav {
    float: right;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

nav ul li {
    padding: 10px;
    display: inline;
   
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 900;
}

.content {
    display: flex;
    padding: 40px 0;
    background-image: linear-gradient(#F6F8ED, #E0E4CE);
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-container {
    display: flex;
    padding: 40px;
    max-width: 800px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-container h2 {
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 45px;
    color: #27191C;
}

.section-container p {
    font-size: 20px;
    font-weight: 900;
    text-align: start;
    margin: 25px;
    max-width: 300px; /* Define a largura máxima para o parágrafo */
    color: #2D3839;
}

.colaboration{
    display: flex;
    flex-wrap: wrap; /* Permite quebrar linha quando exceder o número de itens */
    justify-content: center; /* Centraliza os itens na tela */
    gap: 20px; /* Espaçamento entre os cards */
}

.card .card1{
    flex: 1 1 calc(33.333% - 40px); /* Garante que cada card ocupe 1/3 do espaço, com margem */
    max-width: 300px; /* Define uma largura máxima para os cards */
    text-align: center; /* Centraliza o texto dentro dos cards */
    margin: 10px 0 10px 0;
}

.card .card1 p {
    display: flex;
    font-size: 20px;
    text-align: start;
    align-items: baseline;
    justify-content: center;
}

.colaboration::after {
    content: "";
    flex-basis: 100%; /* Força a quebra de linha após o terceiro elemento */
    order: 3; /* Garantir que 3 elementos fiquem na primeira linha */
  }

.card img{
    width: 200px; /* ajuste o tamanho como preferir */
    height: 200px; /* o mesmo valor para garantir que seja um círculo */
    border-radius: 50%; /* torna a imagem redonda */
    object-fit: scale-down; /* corta a imagem para preencher o círculo */
    overflow: hidden; /* esconde qualquer parte da imagem que saia do círculo */
}

.card1 img{
    width: 200px; /* ajuste o tamanho como preferir */
    height: 200px; /* o mesmo valor para garantir que seja um círculo */
    border-radius: 50%; /* torna a imagem redonda */
    object-fit: scale-down; /* corta a imagem para preencher o círculo */
    object-position: 130% 100%;
    overflow: hidden; 
}

.highlight {
    color: #6E9987;
}

.highlight-name {
    color: #959595;
    font-size: 18px;
    font-weight: bold;
}

.highlight-function{
    color: #118F8F;
    font-weight: bold;
    margin-right: 10px;
}

.container-footer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
}

footer {
    display: flex;
    background-color: #114D4D;
    font-weight: 900;
    color: #fff;
    align-items: center;
    justify-content: center;
}

footer h1 {
    margin: 10px 0;
    font-size: 12px;
}

footer #logo {
    font-size: 24px;
    margin-bottom: 10px; /* Espaçamento entre a logo e os ícones */
}

.icons {
    display: flex;
    justify-content: center;
}

.footer-link i {
    color: #fff;
    font-size: 17px;
    margin: 0 0px 6px;
    padding: 6px;
    cursor: pointer;
}

footer p {
    font-size: 14px;
    border-left: 2px solid #fff;
    padding-left: 15px;
    height: 70px;
    display: flex;
    align-items: center;
    margin-left: 15px;
}

/* Responsividade */
@media (max-width: 768px) {
    nav {
        float: none;
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .section-container h2 {
        font-size: 35px;
    }

    .section-container p {
        text-align: center;
        margin: 10px;
    }

    .container-footer p {
        border-left: 2px solid #fff;
        padding-left: 20px;
        height: 50px;
        display: flex;
        align-items: center;
        margin-left: 20px;
    }

    .colaboration {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    
}