@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #F6F8ED;
    padding: 10px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px; /* Define a largura máxima */
    margin: 0 auto; /* Centraliza o container */
    padding: 0 20px;
}

.logo {
    font-size: 20px;
    font-weight: 900;
    padding: 10px;
    color: #6E9987;
    display: inline-block;
}

nav {
    float: right;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

nav ul li {
    padding: 10px;
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 900;
}

.content {
    padding: 20px 0;
    background-image: linear-gradient(#F6F8ED, #E0E4CE);
    text-align: center;
}

.section-container {
    padding: 20px;
    max-width: 800px; /* Define a largura máxima para centralizar */
    margin: 0 auto; /* Centraliza o container */
}

.section-container h2 {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 45px;
    color: #27191C;
}

.section-container p {
    font-size: 16px;
    font-weight: 900;
    text-align: center;
    margin: 35px auto; /* Centraliza o parágrafo */
    max-width: 600px; /* Define a largura máxima para o parágrafo */
    color: #2D3839;
}

.highlight {
    color: #6E9987;
}

.container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #114D4D;
    font-weight: 900;
    padding: 20px;
    text-align: center;
    color: #fff;
}

footer p {
    margin: 10px 0;
    font-size: 12px;
}

footer #logo {
    font-size: 24px;
    margin: 10px 0;
    border-right: 2px solid #fff; /* Adiciona a barra */
    padding-right: 20px; /* Espaçamento à direita da barra */
}

.container-footer p:last-child {
    padding-left: 20px; /* Espaçamento à esquerda da barra */
}

/* Responsividade */
@media (max-width: 768px) {
    nav {
        float: none;
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .section-container h2 {
        font-size: 35px;
    }
}